@use "@angular/material" as mat;

@include mat.core();

$qc-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: 'Cairo, sans-serif',
    plain-family: 'Cairo, sans-serif',
    bold-weight: 700,
    medium-weight: 500,
    regular-weight: 400,
  ),
  density: (scale: 0),
));

:root {
  @include mat.all-component-themes($qc-theme);
}

@import "variables";
@import "global";
@import "kafr-public";
